%h1== Invoice list

.invoice_details
  %p
    Client:
    = client.name

%table#data_table
  %thead
    %tr
      %th Reference
      %th Amount
      %th Currency
  %tbody= render partial: 'list', collection: @invoices, as: :invoice