company_details: &company_details
  company:
    name: Example.com
    billing_email: BillBot <billbot@example.com>
    finance_contact: Finance <finance@example.com>
    invoice_prefix: EX
    mailing_address: |
      Example.com
      1 Demonstration Square
      Typiton
      Archetypia
    payment_details: |
      Bank:           Exemplary Bank
      SWIFT BIC:      EXBKEXMLXXX
      Account number: 123-456-789-0
      Account name:   Example D Com

test: &test
  <<: *company_details
  mailer: {}

development:
  <<: *test

production:
  <<: *company_details
  mailer:
    address:               smtp.gmail.com
    port:                  587
    domain:                gmail.com
    user_name:             email@example.com
    password:              blaaarggww
    authentication:        plain
    enable_starttls_auto:  true