table#data_table {
  width: 100%;
  
  thead {
    tr {
      border-bottom: 1px solid $gutter_color;
    }
    th {
      text-align: left;
    }
  }
  
  tbody {
    td {
      padding: 0.5em 0.5em 1em 0;
    }
  }
  
}
