table#data_table {
  width: 100%;
  
  thead {
    tr {
      border-bottom: 1px solid $gutter_color;
    }
    th {
      text-align: left;
    }
  }
  
  tbody {
    td {
      padding: 0.5em 0.5em 1em 0;
    }
  }
  
  tfoot {
    td {
      padding: 0.5em 0.5em 0.5em 0;
    }
    td:nth-child(2) {
      border-top: 1px solid $gutter_color;
      border-bottom: 3px ridge $gutter_color;
    }
  }
}
